// Variables
$dark-cyan: hsl(185, 75%, 39%);
$dark-blue: hsl(229, 23%, 23%);
$gray-blue: hsl(227, 10%, 46%);
$dark-gray: hsl(0, 0%, 59%);
// for media query
$tablet-max-width: 1024px;
$tablet-min-width: 768px;
$tablet-min-height: 850px;
$tablet-max-height: 1270px;

// these are particularly for large tables like ipad pro
$large-tablet-min-height: 1270px;

//desktop- including iPad Pro and notebook computers
$desktop-min-width: 1024px;

// CSS Reset
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
// for mobile design
html {
  font-size: 14.5px;
}
// setting the default font
body{
  font-family: 'Kumbh Sans';
}

// maps
$font-weights: (
  "regular": 400,
  "bold": 700,
);

// functions
@function weights($weight) {
  // $weight("regular"/"bold")
  @return map-get($font-weights, $weight);
}
// will set $weight(regular/bold) as the font weight

@mixin tablet-horizontal{
  @media screen and (min-width: $tablet-min-width) and(max-width: $tablet-max-width) {
    @content;
  }
}

@mixin tablet-vertical{
  @media screen and (min-height: $tablet-min-height) and (max-height: $tablet-max-height){
    @content;
  }
}

@mixin large-tablet-vertical{
  @media screen and (min-height: $large-tablet-min-height){
    @content;
  }
}

@mixin desktop{
  @media screen and (min-width: $desktop-min-width){
    @content;
  }
}
