// Variables
$dark-cyan: hsl(185, 75%, 39%);
$dark-blue: hsl(229, 23%, 23%);
$gray-blue: hsl(227, 10%, 46%);
$dark-gray: hsl(0, 0%, 59%);

// CSS Reset
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
// for mobile design
html {
  font-size: 14.5px;
}
// setting the default font
body{
  font-family: 'Kumbh Sans';
}

// maps
$font-weights: (
  "regular": 400,
  "bold": 700,
);

// functions
@function weights($weight) {
  // $weight("regular"/"bold")
  @return map-get($font-weights, $weight);
}
// will set $weight(regular/bold) as the font weight
