/*
html font-sizes:
phone: 14.5px
tablet: 16px
small-laptops: 17px
laptop: 19px;

iPad Pro is considered under small laptops
*/

@include tablet-horizontal{
  html{
    font-size: 16px;
  }
  #circle{
    &-top{
      img{
        height: 45rem;
        transform: rotate(27deg);
      }
    }
    &-bottom{
      img{
        height: 45rem;
        left: 48rem;
        top: 25rem;
      }
    }
  }
}

@include tablet-vertical{
  html{
    font-size: 16px;
  }
  .profile-card{
    height: 50vh;
    width: 65vw;
  }
  #circle{
    &-top{
      img{
        height: 50rem;
      }
    }
    &-bottom{
      img{
        height: 50rem;
        left: 26rem;
        top: 33rem;
      }
    }
  }
}
